.halflings-icon.warning-sign {background-position: -144px -120px;}

.halflings-icon.white {background-image: url(../img/glyphicons_halflings-white.svg);}

.halflings-icon {display: inline-block;width: 14px;height: 14px;line-height: 14px;vertical-align: text-top;background-image: url(../img/glyphicons_halflings.svg);background-position: 0 0;background-repeat: no-repeat;vertical-align: top;}
